* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.alert {
    padding: 10px;
    color: #f44336;
    margin-bottom: 15px;
}

.pagination {
    display: flex;
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.pagination li {
    display: inline;
    padding: 1rem 1rem;
    background-color: white;
    border: 1px solid #285185;
    /* border-radius: 5px; */
}

.pagination li:first-child {
    border-radius: 5px 0px 0px 5px;
}

.pagination li:last-child {
    border-radius: 0px 5px 5px 0px;
}

.pagination li a {
    color: #285185;
    float: left;
    text-decoration: none;
}

.paginate-active {
    background-color: #fec107;
}

.paginate-active a {
    font-weight: bold;
    color: #285185;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.text-center {
    text-align: center;
}

.wrapper {
    width: 98%;
    margin: 0 auto;
    padding: 0.5rem 0;
}

.product-wrapper {
    width: 98%;
    margin: 0 auto;
    padding: 0.5rem 0;
    padding-left: 5rem;
}

.wrapper flex align-center {
    width: 100;
    margin: 0 0;
}

/* HEADER */
.header-top {
    display: flex;
    background-color: #fec107;
}

.header-menu {
    background-color: #285185;
}

.header-logo {
    display: flex;
    width: 10%;
}

.header-logo-img img {
    width: 3rem;
}

.search-bar {
    float: right;
    width: 88%;
    align-items: center;
}

.search-bar input[type="text"] {
    width: 95%;
    padding: 0.5rem 0.5rem;
    border: none;
    border-radius: 4px;
    margin-right: 0.5rem;
}

.search-bar input:focus {
    outline-width: 0;
}

.search-bar button {
    padding: 0.5rem 0;
    border: none;
    background-color: #fec107;
}

.header-menu {
    padding: 0.5rem 0;
}

.header-menu-left {
    display: flex;
    float: left;
    width: 25%;
}

.header-menu-left ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-menu-left ul li {
    display: inline;
}

.header-menu-left ul li a {
    color: white;
    text-decoration: none;
}

.header-menu-right button {
    border: 1px solid white;
    background-color: #285185;
    color: white;
    padding: 0.2rem;
    border-radius: 3px;
}
/* 
.header-menu-right a{
    border: 1px solid white;
    background-color: #285185;
    color: white;
    padding: 0.2rem;
    border-radius: 3px;
} */

.logout {
    border: 1px solid white;
    background-color: #285185;
    color: white;
    padding: 0.2rem;
    border-radius: 3px;
    text-decoration: none;
}

.dropdown-menu {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #285185;
    z-index: 1;
    min-width: 100%;
}

.dropdown-content a {
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: block;
}

.dropdown-menu:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #203f66;
}

.content {
    background-color: #ccd9e2;
    padding: 2rem 0;
}

.content-title h2 {
    margin-bottom: 2rem;
}

/* PRODUCT FOR HOME PAGE */

.products {
    display: flex;
    flex-wrap: wrap;
}

/* .products-row{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
} */

.product {
    width: 30%;
    border: 1px solid #fec107;
    background-color: white;
    padding: 1rem;

    flex: 0 0 30%;
    box-sizing: border-box;
    margin: 1rem 0.25em;
}

.product-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.product-img img {
    width: auto;
    height: 15rem;
}

.product-desc {
    margin-bottom: 0.4rem;
}

.product-price {
    margin-bottom: 1rem;
}

/* BUTTONS */
.yellow-btn {
    /* border: none;
    border-radius: 4px;
    background-color: #FEC107;
    color: black;
    padding: 0.5rem;
    text-decoration: none;
    padding: 0.5rem 0.3rem;
    font-size: 14px; */
    border: none;
    border-radius: 4px;
    background-color: #fec107;
    color: black;
    padding: 0.5rem;
    margin-top: 0.7rem;
    text-decoration: none;
    font-size: 14px;
}

.add-btn {
    border: none;
    border-radius: 4px;
    background-color: #fec107;
    color: black;
    width: 50px !important;
    padding: 0.5rem;
    position: relative;
    left: 79rem;
}

.red-btn {
    border: none;
    border-radius: 4px;
    background-color: #d84e44;
    color: white;
    padding: 0.5rem;
    margin-top: 0.7rem;
    text-decoration: none;
}

/* FOOTER */
.footer {
    background-color: #285185;
}

.footer-socmed {
    padding-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.footer-socmed a:not(:last-child) {
    margin-right: 2.5rem;
}

.footer-desc {
    padding-bottom: 0.5rem;
}

.footer-desc p {
    color: white;
}

.footer-socmed img {
    width: 1.5rem;
}

/* DETAIL PRODUCT PAGE */
.detail-product-wrapper {
    background-color: white;
    width: 80%;
}

.detail-product-left {
    padding: 2rem;
    width: 50%;
}

.detail-product-img img {
    width: 100%;
}

.detail-product-right {
    padding: 5rem 2rem;
    width: 50%;
}

.detail-product-contents hr {
    margin: 1rem 0;
}

.detail-product-content h2,
.detail-product-content h3 {
    margin-bottom: 0.5rem;
}

.detail-product-btn input[type="text"] {
    padding: 0.3rem;
    width: 5rem;
}

/* MY CART PAGE */
.cart-item {
    background-color: white;
}

.cart-item:not(:last-child) {
    margin-bottom: 1.5rem;
}

.cart-item-img {
    width: 30%;
    padding: 1rem;
}

.cart-item-img img {
    width: 100%;
}

.cart-item-contents {
    width: 70%;
    padding: 3rem 0;
}

.cart-item-content {
    margin-bottom: 1rem;
}

.cart-item-buttons button:not(:last-child) {
    margin-right: 0.5rem;
}

/* MY HISTORY TRANSACTION */
.history-trans-head {
    margin-bottom: 1rem;
}

.history-trans-dropdown {
    position: relative;
    display: inline-block;
    min-width: 100%;
}

.history-trans-dropdown-content {
    display: none;
    position: absolute;
    min-width: 100%;
    z-index: 1;
}

.history-trans-dropdown:hover .history-trans-dropdown-content {
    display: block;
}

.history-trans-arrow i {
    display: block;
    transition: all 0.4 ease;
    font-size: 2rem;
}

.history-trans-arrow i:hover {
    transform: rotateZ(180deg);
}

.history-trans {
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 1rem 1rem;
    padding-bottom: 3rem;
}

.history-trans:not(:last-child) {
    margin-bottom: 1.5rem;
}

.history-trans-item {
    border: 1px solid grey;
    border-radius: 5px;
    background-color: white;
}

.history-trans-item:not(:last-child) {
    margin-bottom: 1rem;
}

.history-trans-item-img {
    width: 20%;
}

.history-trans-item-img img {
    width: 100%;
}

.history-trans-item-contents {
    width: 80%;
    padding: 3rem 0;
    padding-right: 2rem;
}

.history-trans-item-content:not(:last-child) {
    margin-bottom: 1rem;
}

.history-trans-foot {
    padding: 1rem 0;
}

/* MANAGE PRODUCT */
.tbl-full {
    width: 100%;
    border-collapse: collapse;
}

.tbl-full td,
.tbl-full th {
    border: 1px solid #285185;
    padding: 0.5rem 1rem;
}

.tbl-full tr:nth-child(odd) {
    background-color: #fff3cd;
}

.tbl-full tr:nth-child(even) {
    background-color: #f2e7c3;
}

.tbl-full td img {
    width: 60%;
}

.tbl-full th {
    text-align: left;
    background-color: #fff3cd;
}

.tbl-full tr:hover {
    background-color: #d6ccac;
}

.tbl-full img {
    width: 60px;
    height: 60px;
}
/* LOGIN PAGE */

.blue-text {
    color: #285185;
    margin-bottom: 1rem;
}

.login-wrapper {
    width: 25%;
    background-color: white;
    padding: 2rem;
    margin: 0 auto;
}

.register-wrapper {
    width: 90%;
    background-color: #f8f9fa;
    padding: 1.5rem;
    margin: 0 auto;
}

.add-product-wrapper {
    width: 90%;
    background-color: #f8f9fa;
    padding: 1.5rem;
    margin: 0 auto;
}

.form {
    width: 100%;
    flex-direction: column;
}

.add-product {
    justify-content: start;
}

.add-product label {
    display: inline-block;
    margin-top: 1rem;
}

.custom-file-upload {
    border: 1px solid rgb(184, 181, 181);
    background-color: #e9ecef;
    padding: 6px 12px;
    cursor: pointer;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem !important;
}

.add-product input[type="file"] {
    display: none;
}

.form input {
    margin: 0.5rem;
    width: 100%;
}

.form label {
    margin-left: 0.5rem;
}

.form select {
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid rgb(184, 181, 181);
}

.form input[type="text"],
.form input[type="password"] {
    padding: 0.8rem;
    border: 1px solid rgb(184, 181, 181);
}

.form textarea {
    padding: 0.8rem;
    border: 1px solid rgb(184, 181, 181);
    margin: 0.5rem;
    width: 100%;
}

.remember-me-wrapper label {
    padding-top: 0.3rem;
    margin-left: -0.5rem;
}

.remember-me-wrapper {
    margin-bottom: 1.5rem;
}

.terms-conditions {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.form input[type="checkbox"] {
    float: left;
    width: 2rem;
}

.form input[type="submit"] {
    width: 20%;
}

.gender-radio {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gender-radio input {
    width: 1%;
}

.gender-radio label {
    margin-right: 0.5rem;
}
